* {
  margin: 0;
}

body {
  background-color: #979797;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color:#000;
}

a:hover {
  color: #323232;
}

a:active {
  color: #979797,
}

a:visited {
  color: #373867;
}

.navbar-default {
  height: 180px;
  background-color: #323232;
  margin-left: center;
  margin-right: 0;
  background-image: url("../../Assets/Images/radiumrocket.png");
  background-repeat: no-repeat;
  background-position: top 30px left 120px;
  background-size: 104px 100px;
}

.buttoms {
  margin: 10px 20px;
  float: right;
}

.header-buttom {
  width: 158px;
  height: 76px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000;
  margin-right: 40px;
  display: inline-block;
}

.header-buttom a {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.6;
  padding-left: 10px;
}

.header-buttom img {
  padding-top: 21px;
  padding-left: 12px;
  height: 35px;
  width: 35px;
}

.navbar-default h1 {
  color: #E3EC39;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 53px;
  text-shadow: 1px 2px #000;
  text-transform: uppercase;
  position: relative;
  left: 30px;
  top: 130px;
  width: 500px;
}

.main-aside {
  width: 20%;
  height: 7260px;
  background-color: #D5DD3C;
  color: #000000;
  opacity: 90%;
  float: left;
}

.main-aside ul {
  list-style-type: none;
  margin: 10px;
  padding-top: 80px;
  width: 230px;
  height: 100%;
  overflow: auto;
  text-transform: capitalize;
  font-size: 20px;
}

.main-aside li {
  display: block;
  color: #000;
  padding: 8px 16px;
  padding-bottom: 15px;
  font-family: "roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.img-aside {
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 7260px;
}

.img-aside img {
  height: 20px;
  width: 20px;
  padding: 0px 290px 22px 43px;
}
.tel img {
  height: 20px;
  width: 20px;
  padding: 6744px 4px 18px 50px;
}

.main-aside p {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  position: relative;
  top: -54px;
  left: -6px;
  overflow: auto;
  color: #000;
  font-family: "roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.conteiner-main {
  width: 80%;
  float: right;
}

#home {
  background-image: url("../../Assets/Images/inicio.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 860px;
}

#home h2 {
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px #000;
  padding-top: 150px;
  padding-right: 157px;
}

#home h3 {
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-size: 100px;
  text-align: right;
  color: #E3EC39;
  text-shadow: 2px 3px #000;
  padding-right: 406px;
}

#home p {
  font-family: "roboto", sans-serif;
  font-weight: 50;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 2px #000;
  padding-left: 170px;
  padding-top: 60px;
}

#features h2 {
  padding-right: 280px;
  color: #fff;
  padding-top: 198px;
  display: block;
}

#features h3 {
  color: #D5DD3C;
  display: block;
  padding-left: 230px
}

.secondary-title {
  font-size: 100px;
  font-weight: 800;
  line-height: 111px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 2px 3px#000;
}

 #features ul {
  list-style-type: none;
}

#features li {
  text-transform: uppercase;
  text-align: center;
}

#features h4 {
  text-align: center;
  font-size: 30px;
  font-family:"Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
  padding-left: 10px;
  padding-top: 0;
  color: #E3EC39;
  text-shadow: 1px 5px 10px #000;
  display: block; 
}

#features p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  text-shadow: 3px 5px 8px #000;
  display: block;
}

.features-cards-reservation {
  background-image: url("../../Assets/Images/reservation.png");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 2px 2px #000);
  opacity: 0.7;
  height: 198px;
  width: 533px;
  display: inline-block;
  padding-top: 159px;
  border-radius: 10px;
  position: absolute;
  left: 350px;
  top: 1610px;
}

.features-cards-schedule {
  background-image: url("../../Assets/Images/schuedel.jpg");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 2px 2px #000);
  opacity: 0.7;
  height: 228px;
  width: 533px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 891px;
  top: 1610px;
}

.features-cards-memberships {
  background-image: url("../../Assets/Images/membership.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 2px 2px #000);
  opacity: 0.7;
  height: 228px;
  width: 533px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 249px;
  position: absolute;
  left: 100px;
  top: 2025px;
}

.features-cards-contact {
  background-image: url("../../Assets/Images/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 2px 2px #000);
  opacity: 0.7;
  height: 228px;
  width: 533px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 104px;
  position: absolute;
  left: 823px;
  top: 2025px;
}

#contact-us h3 {
  padding-right: 361px;
  color: #fff;
  padding-top: 0px;
  display: block;
}

#contact-us h4 {
  color: #D5DD3C;
  display: block;
  padding-left: 307px;
}

#contact-us .secondary-title {
  margin-top: 1200px;
}

.form-contact-us {
  border-radius: 30px;
  background-color: #fff;
  background-position: center;
  margin: 30px 59px 1px 22px;
  padding: 61px 0 22px 44px;
  height: 528px;
}

.form-contact-us input, select {
  width: 220px;
  height: 50px;
  padding: 1px 6px;
  border: 1.5px solid #373867;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d4cdcd;
  color: #323232;
  text-align: left;
 }

.form-contact-us button {
  background-color: #E3EC39;
  border: none;
  border-radius: 7px;
  Width: 80px;
  height: 42px;
  margin-left: 477px;
  font-weight: 800;
  margin-top: 254px;
}

.form-contact-us label {
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.form-contact-us textarea {
  width: 997px;
  height: 150px;
  padding: 15px 5px;
  margin: -112px 1px;
  border-radius: 18px;
  border: solid #00000000;
  background-color: #d4cdcd;
  color: #323232;
  position: relative;
  top: 60px;
}

.contact-us-divs {
  text-align: left;
  display: inline-block;
  padding-left: 30px;
  margin: 36px 7px 15px 0;
}

#activities .secondary-title {
  margin-top: 50px;
}

#activities ul {
  list-style-type: none;
}

#activities li {
  color: #fff;
  font-family:"Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 5px 5px #000;
  padding-left: 115px;
  display: inline-block;
  background-color: hsla(0, 0%, 7%, 0.568);
  border-radius: 102px;
}

#activities h3 {
  padding-right: 361px;
  padding-right: 340px;
  color: #fff;
  padding-top: 0;
}

#activities h4 {
  color: #D5DD3C;
  display: block;
  padding-left: 211px;
}

.activities-crossfit {
  text-decoration: none;
  background-image: url("../../Assets/Images/crossfit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px);
  opacity: 0.7;
  height: 77px;
  width: 342px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 505px;
  top: 3800px;
}

.activities-box {
  text-decoration: none;
  background-image: url("../../Assets/Images/box.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px);
  opacity: 0.7;
  height: 77px;
  width: 342px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 893px;
  top: 3800px;
}

.activities-funtional {
  text-decoration: none;
  background-image: url("../../Assets/Images/funtional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px);
  opacity: 0.8;
  height: 77px;
  width: 342px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 320px;
  top: 4046px;
}

.activities-spinning {
  text-decoration: none;
  background-image: url("../../Assets/Images/spinning.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px);
  opacity: 0.7;
  height: 77px;
  width: 342px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 691px;
  top: 4046px;
}

.activities-fitness {
  text-decoration: none;
  background-image: url("../../Assets/Images/fitness.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px);
  opacity: 0.7;
  height: 77px;
  width: 342px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 40px;
  position: absolute;
  left: 1060px;
  top: 4046px;
}

#memberships .secondary-title {
  margin-top: -33px;
}

#memberships ul {
  list-style-type: none;
}

#memberships h3 {
  padding-right: 405px;
  color: #fff;
  padding-top: 601px;
  display: block;
}

#memberships h4 {
  color: #D5DD3C;
  display: block;
  padding-left: 360px;
}

#memberships li {
  color: #E3EC39;
  font-family:"Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 5px 5px #000;
  padding-left: 1px;
  margin-top: 10px;
  display: block;
}

#memberships p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0px 1px 5px #000;
  display: block;
  margin-top: 76px;
}

.member-only-classes {
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/classesonly.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 5px);
  filter: contrast(-10%);
  height: 500px;
  width: 470px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 1px;
  position: absolute;
  left: 658px;
  top: 4641px
}

.member-classic {
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/classicmembership.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 6px);
  height: 500px;
  width: 470px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 1px;
  position: absolute;
  left: 658px;
  top: 5382px
}

.member-black {
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/blackmembership.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 6px);
  height: 500px;
  width: 470px;
  display: inline-block;
  padding-top: 128px;
  border-radius: 10px;
  margin-left: 1px;
  position: absolute;
  left: 658px;
  top: 6120px
}

#our-story .our-story{
  margin-top: 55px;
}

#our-story h3 {
  color: #fff;
  padding-top: 2284px;
  padding-left: 110px;
  padding-bottom: 10px;
  display: block;
  font-size: 60px;
  font-weight: 800;
  line-height: 100px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  text-shadow: 2px 3px#000;
}

#our-story h4 {
  color: #D5DD3C;
  display: block;
  padding-left: 209px;
  font-size: 60px;
  font-weight: 800;
  line-height: 10px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  text-shadow: 2px 3px#000;
}
#our-story .our-story-text {
  background-color: #E0E0E0;
  opacity: 90%;
  border-radius: 18px;
  margin: -47px 590px 0 50px;
  padding: 37px 39px; 
  position: relative;
  left: 412px;
}

#our-story p {
  text-align: center;
  text-align-last: center;
  color: #404040;
}

#footer {
  height: 180px;
  width: 100%;
  background-color: #323232;
  margin-left: center;
  margin-right: 0;
  margin-top: 7261px;
}

#footer .conteiner-social a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color:#fff;
  position: relative;
  left: 60px;
  top: 77px;
  display: inline;
  padding: 0 45px 0 65px;
}

#footer .conteiner-social img {
  height: 35px;
  width: 35px;
}

#footer .copy {
  float: right;
  padding-right: 25px;
}

#footer .copy span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color:#fff;
  position: relative;
  top: 31px;
  padding: 0;
}