* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #979797;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    color: #323232;
  }
  
  a:active {
    color: #979797,
  }
  
  ul {
    list-style-type: none;
  }

  .secondary-title, #home h2, h3{
    font-size: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #home h2, h3 {
    letter-spacing: 3px;
}