@media screen and (min-width: 1025px) {
  #footer {
    display: flex;
    justify-content: space-between;
    height: 180px;
    width: 100%;
    background-color: #323232;
  }
  
  #footer .container-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3.5rem;
    gap: 3rem;
  }

  #footer .container-social a {
    font-size: 24px;
    line-height: 100%;
    color:#fff;
  }
  
  #footer .container-social img {
    height: 3rem;
    width: 3rem;
  }
  
  #footer .copy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
  }
  
  #footer .copy span {
    font-size: 24px;
    line-height: 100%;
    color:#fff;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #footer {
    height: auto;
    background-color: #C4C4C4;
    padding: 2rem 0  0 0;
    margin-top: 194px;
  }

  #footer .container-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    color: #fff;
  }

  #footer .container-social a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 37rem;
    color: #000;
    font-size: 1.5rem;
  }

  #footer .container-social img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 50px;
    width: 50px;
    margin: auto;
  }

  #footer .copy {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px; 
  }

  #footer .copy span {
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: 23px;
    color: #666666;
  }
}

@media screen and (min-width:390px) and (max-width: 601px) {
  #footer {
    height: 500px;
    width: auto;
    background-color: #C4C4C4;
    margin-top: 194px;
  }

  #footer .container-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 23px;
    color:#000;
    padding-top: 2rem;
  }
  #footer .container-social a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 18rem; 
    color:#000;
    font-size: 1.5rem;
  }
  #footer .container-social img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 50px;
    width: 50px;
    margin: auto;
  }
  #footer .copy {
    padding-bottom: 1rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
  }
  #footer .copy span {
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: 23px;
    color: #666666;
  }
}