
.main-aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    text-transform: capitalize;
    font-size: 20px;
    padding: 0;
    margin-top: 3rem;
    gap: 1rem;
}

.container-first-all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
} 
  
.container-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.main-aside li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: #000;
    padding: 8px 16px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.img-aside img {
    height: 20px;
    width: 20px;
}
  
.main-aside p {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#home {
    background-image: url("../../Assets/Images/inicio-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
    width: auto;
}
  
#home h2 {
    color: #fff;
    text-shadow: 2px 3px #000;
    padding-top: 70px;
    padding-right: 75px;
}
  
#home h3 {
    color: #E3EC39;
    text-shadow: 2px 3px #000;
    padding-right: 20px;
}
  
#home p {
    color: #ffffff;
    text-shadow: 1px 2px #000;
}

#features h2 {
    display: flex;
    color: #fff;
    padding-top: 90px;
    padding-right: 83px;
}
  
#features h3 {
    display: flex;
    color: #D5DD3C;
    padding-left: 190px
}
  
.secondary-title {
    line-height: 60px;
    text-shadow: 2px 3px#000;
}
  
#features li {
    text-transform: uppercase;
    text-align: center;
}
  
#features h4 {
    font-size: 20px;
    color: #E3EC39;
    text-shadow: 1px 5px 10px #000;
}
  
#features p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    text-shadow: 3px 5px 8px #000;
}
  
.features-cards-reservation {
    background-image: url("../../Assets/Images/reservation.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1px 2px 5px #000);
    height: 179px;
    width: 330px;
    padding-top: 90px;
    border-radius: 30px;
    margin: 50px -8px;
}
  
.features-cards-schedule {
    background-image: url("../../Assets/Images/schuedel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1px 2px 5px #000);
    height: 179px;
    width: 330px;
    padding-top: 90px;
    border-radius: 30px;
    margin: 50px -8px;
}
  
.features-cards-memberships {
    background-image: url("../../Assets/Images/membership.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(1px 2px 5px #000);
    height: 179px;
    width: 330px;
    padding-top: 90px;
    border-radius: 30px;
    margin: 50px -8px;
}
  
.features-cards-contact {
    background-image: url("../../Assets/Images/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(1px 2px 5px #000);
    height: 179px;
    width: 330px;
    padding-top: 90px;
    border-radius: 30px;
    margin: 50px -8px;
}

#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-us h3 {
    padding-right: 45px;
    color: #fff;
}
  
#contact-us h4 {
    color: #D5DD3C;
    padding-left: 247px;
}
  
#contact-us .secondary-title {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
  
.form-contact-us {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #fff;
    background-position: center;
}

.form-contact-us input, select {
    border: 1.5px solid #373867;
    border-radius: 4px;
    background-color: #d4cdcd;
    color: #323232;
}

.form-contact-us button {
    background-color: #E3EC39;
    border: none;
    border-radius: 7px;
}

.form-contact-us label {
    font-size: 18px;
    line-height: 1;
    color: #000;
}

.form-contact-us textarea {
    border-radius: 18px;
    border: solid #00000000;
    background-color: #d4cdcd;
    color: #323232;
}

.contact-us-divs {
    display: flex;
    align-items: center;
}
  
#activities .secondary-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

#activities li {
    color: #fff;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 5px 5px #000;
    background-color: hsla(0, 0%, 7%, 0.568);
    border-radius: 102px;
}
  
#activities h3 {
    display: flex;
    padding-right: 60px;
    color: #fff;
}
  
#activities h4 {
    display: flex;
    color: #D5DD3C;
    padding-left: 211px;
}
  
.activities-crossfit {
    text-decoration: none;
    background-image: url("../../Assets/Images/crossfit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px);
    height: 179px;
    width: 350px;
    padding-top: 99px;
    border-radius: 30px;
    margin: 40px 0px;
}
  
.activities-box {
    text-decoration: none;
    background-image: url("../../Assets/Images/box.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px);
    height: 179px;
    width: 350px;
    padding-top: 99px;
    border-radius: 30px;
    margin: 40px 0px;
}
  
.activities-funtional {
    text-decoration: none;
    background-image: url("../../Assets/Images/funtional.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px);
    height: 179px;
    width: 350px;
    padding-top: 99px;
    border-radius: 30px;
    margin: 40px 0px;
}
  
.activities-spinning {
    text-decoration: none;
    background-image: url("../../Assets/Images/spinning.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px);
    height: 179px;
    width: 350px;;
    padding-top: 99px;
    border-radius: 30px;
    margin: 40px 0px;
}
  
.activities-fitness {
    text-decoration: none;
    background-image: url("../../Assets/Images/fitness.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px);
    height: 179px;
    width: 350px;
    padding-top: 99px;
    border-radius: 30px;
    margin: 40px 0px;
}

#memberships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#memberships .secondary-title {
    margin-top: auto;
}
  
#memberships h3 {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 80px;
}
  
#memberships h4 {
    color: #D5DD3C;
    padding-left: 180px;
}
  
#memberships li {
    color: #E3EC39;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 5px 5px #000;
}
  
#memberships p {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 23px;
    text-align: center;
    text-shadow: 0px 1px 5px #000;
    margin-top: 27px;
}
  
.member-only-classes {
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/classesonly.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 5px);
    border-radius: 30px;
}
  
.member-classic {
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/classicmembership.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 6px);
    border-radius: 30px;

}
  
.member-black {
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/blackmembership.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 6px);
    border-radius: 30px;
}
  
#our-story .our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#our-story h3 {
    color: #fff;
    padding-left: 70px;
    padding-bottom: 10px;
    font-size: 60px;
    line-height: 100px;
    text-shadow: 2px 3px#000;
}

#our-story h4 {
    color: #D5DD3C;
    padding-left: 146px;
    font-size: 60px;
    line-height: 10px;
    text-shadow: 2px 3px#000;
}

#our-story .our-story-text {
    background-color: #E0E0E0;
    opacity: 90%;
    border-radius: 12px;
    width: 320px;
    margin: 49px 0px 0 10px;
    padding: 29px 26px;
}

#our-story p {
    text-align: center;
    text-align-last: center;
    color: #404040;
}

@media screen and (min-width: 1025px) {
    .main-aside {
        display: flex;
        justify-content: space-between;
        width: 20%;
        background-color: #D5DD3C;
        color: #000000;
        opacity: 90%; 
    }

    .conteiner-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
    }
    .container-aside {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .container-direccion-numero {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .img-aside {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
    }
    .container-aside ul {
        text-align: center;
    }

   #home {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-image: url("../../Assets/Images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50rem;
        width: 100%;
    }

    #home h2 {
        font-size: 6rem;
        align-self: center;
        letter-spacing: 1rem;
    }
    #home h3 {
        font-size: 6rem;
        align-self: flex-end;
        letter-spacing: 1rem;
        margin: 2rem;
    }

    #home p {
        font-size: 1.7rem;
        padding-top: 1.5rem;
    }

    .conteiner-features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 35px;
        width: 100%;
    }

    .conteiner-features li {
        width: 450px;
        height: 225px;
    }

    #features h2, h3 {
        font-size: 5.5rem;
    }
    #features h3 {
        padding-left: 20rem;
    }

    #features h4 {
        text-align: center;
        font-size: 2rem;
    }

    .container-first-all {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 80%;
    }

    #contact-us h4 {
        font-size: 5rem;
        padding-left: 27rem;
    }

    .form-contact-us {
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        padding: 61px 0 22px 44px;
        height: 528px;
    }

    .form-contact-us input, select {
        width: 220px;
        height: 50px;
        padding: 1px 6px;
        box-sizing: border-box;
        text-align: left;
    }

    .form-contact-us button {
        Width: 80px;
        height: 42px;
        margin-left: 477px;
    }

    .form-contact-us label {
        font-weight: 800;
        font-size: 18px;
        line-height: 1;
        color: #000;
        margin-bottom: 10px;
    }

    .form-contact-us textarea {
        width: 5rem;
        height: 150px;
        position: relative;
        top: 60px;
    }
    .contact-us-divs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        align-self: center;
    }
    .contact-us-divs  textarea {
        display: flex;
    }

    #activities h4 {
        font-size: 5rem;
        padding-left: 27rem;
    }

    #activities ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .activities-crossfit {
        margin-left: 10rem;
    }

    #memberships h4 {
        font-size: 4.5rem;
        padding-left: 31rem;
    }
    
    #memberships li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3.5rem;
    }

    #memberships p {
        margin: 3rem .5rem;
    }

    .member-only-classes {
        width: 100%;
        height: 27rem;
        margin: 2rem auto;
    }

    .member-black {
        width: 100%;
        height: 29rem;
        margin: 2rem auto;
    }

    .member-classic {
        width: 100%;
        height: 29rem;
        margin: 2rem auto;
    }

    #our-story {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;
    }
    #our-story .our-story-text {
        width: 31rem;
        margin: 127px 0px 0 17px;
        padding: 45px 64px;
    }
}

@media screen and (max-width: 1024px) {
    .main-aside {
        display: none;
    }

    #home {
        width: 100%;
        height: 60rem;
        text-align: center;
    }

    #home h3 {
        padding-left: 110px;
    }

    #home p {
        font-size: 20px;
        padding-top: 80px;
    }

    .secondary-title {
        font-size: 2rem;
    }

    #features .conteiner-features {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    #features li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: uppercase;
        text-align: center;
        margin: 30px auto;
    }

    #activities ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    #memberships li {
        color: #E3EC39;
        font-size: 30px;
        text-align: center;
        text-shadow: 0px 5px 5px #000;
        padding: 2rem 0;
    }

    .member-only-classes {
        width: 90%;
        height: 27rem;
        margin: 2rem auto;
    }

    .member-black {
        width: 90%;
        height: 27rem;
        margin: 2rem auto;
    }

    .member-classic {
        width: 90%;
        height: 27rem;
        margin: 2rem auto;
    }

    #our-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .form-contact-us {
        border-radius: 30px;
        background-color: #fff;
        background-position: center;
        margin: 43px 25px 1px 25px;
        padding: 18px 5px 15px 5px;
        height: 680px;
        Width: auto;
    }
      
    .form-contact-us input, select {
        width: 286px;
        height: 39px;
        padding: 1px 6px;
        border: 1.5px solid #373867;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #d4cdcd;
        color: #323232;
    }
      
    .form-contact-us button {
        background-color: #E3EC39;
        border: none;
        border-radius: 7px;
        Width: 80px;
        height: 42px;
        position: relative;
        top: 125px;;
    }
      
    .form-contact-us label {
        font-weight: 800;
        font-size: 18px;
        line-height: 1;
        color: #000;
        margin-bottom: 10px;
    }
      
    .form-contact-us textarea {
        width: 293px;
        height: 134px;
        padding: 15px 0px;
        margin: -38px 0px;
        border-radius: 10px;
        border: solid #00000000;
        background-color: #d4cdcd;
        color: #323232;
        position: relative;
        top: 60px;
     }

     .contact-us-divs {
        display: flex;
        flex-direction: column;
        padding: .5rem;
     }
     
    #activities ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}